*

!.gitignore
!README.md
!LICENSE.md

!/src
!/src/*
!/src/*/*
!/include
!/include/*
!/include/*/*
!/third
!/third/*
!/doc
!/doc/*
!/doc/module1/*
!/doc/module2/*

!main.cpp
!CMakeLists.txt

!/.vscode
!/.vscode/launch.json
!/.vscode/tasks.json